img{
    display: flex;
    width: 200px;
    background-color: rgb(172, 204, 236) ;
}

.product-div{

    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(79, 157, 234);
    width: 60%;
    padding: 10px 10px 10px 10px;
}

.details-div{
    display:flex;
}


.remove{
    display: flex;
    align-self: flex-end;
    width: fit-content;

}
