body{
    background-image: url("images/cutting-board1.avif");
    background-size: 100%;
    opacity:0.9
}


.white-font{
    color: white;
    font-family: serif;
}

.sign-in-form{
    display: flex;
    margin: auto;
    margin-top: 2%;
}

.date-div{
    display: flex;
    flex-direction: column;
    font-size: 280%;
    min-width: 520px;
    width: fit-content;
    text-align: center;
    /* border: 2px solid black; */

}

.flex-container{
    display: flex;
    padding: 3% 0% 0% 6%;
    flex-direction: column;
    /* border: 2px solid black; */
    border-radius: 5px;
    height: 650px;
    align-self: flex-start;
}

.flex-box{
    display: flex;
    border: 2px outset antiquewhite;
    border-radius: 10px;
    flex-direction: column;
    min-width: 520px;
    width: fit-content;
    text-align: center;
    height: 100%;
    padding-top: 2%;
    background-image: radial-gradient(farthest-corner at 60% 40%,   rgba(133, 86, 21, .9) 15%,rgba(51, 26, 6, .8)83%, rgba(255,255,255,1) 200%);
    /* border: 2px solid green; */

}

.meal-div{
    display: flex;
    /* border: 2px solid blue; */
    font-size: 250%;
    text-align: center;
    align-self: center;

}

.add-ons-div{
    display: flex;
    /* border: 2px solid black; */
    font-size: 150%;
    align-self: center;
    margin-top: 0%;
}



