body{
    background-image: url("images/cutting-board1.avif");
    background-size: 100%;
    opacity:0.7
}


.white-font{
    color: white;
    font-family: serif;
}

.sign-in-form{
    display: flex;
    margin: auto;
    margin-top: 2%;
}

.date-div{
    margin-left: 8%;
    margin-top: 2%;
    font-size: 210%;

}

