body{
    background-image: url("images/cutting-board1.avif");
    background-size: 100%;
    opacity:0.7;
    background-attachment: fixed;
}


.thing_container{
    height: 15%;
    width:18%;
    border:2px solid black
}

.white-font{
    color: white
}

.flash-box{
    background-color: rgb(255, 241, 52);
    font-size: large;
}
