{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">
{% endblock %}

{% block content %}
<h1 class="white-font" style="margin-left: 5%; margin-top: 5%;">
    You are already logged in!
</h1>
{% endblock %}

{% block content_ua %}
    <h1 class="white-font" style="margin-left: 5%; margin-top: 5%;">
        Enter Username and Password:
    </h1>
    <form class="col-3 border p-3 rounded sign-in-form" method="POST">
        {{ form.hidden_tag() }}

        {{ form.username (class='form-control', placeholder='Username') }}
        {{ form.password (class= 'form-control', placeholder='Password') }}
        {{ form.submit (class='form-control',class = 'btn btn-primary') }}
    </form>
{% endblock %}